@import url(https://use.typekit.net/glp8efz.css);

svg {
    overflow:visible;
}

/*
--moonstone: #81b0b6ff;
--antiflash-white: #ebebebff;
--imperial-red: #e84242ff;
--lapis-lazuli: #30638eff;
--indigo-dye: #003d5bff;
BLUES

--moonstone: #81b0b6ff;
--antiflash-white: #ebebebff;
--imperial-red: #e84242ff;
--wenge: #56494eff;
--dark-purple: #1e152aff;
GRAY+PURPLE
*/




/* Venn Diagram */


#D{
   /* fill: #8C8AF7;*/
   fill:#81b0b6;
}
#D:hover{
    fill:none;
    stroke: #81b0b6;
  
}

#DC{
    fill:#B5797C;
}
#DC:hover{
    fill:none;
    stroke: #B5797C;
}

#C{
    fill: #e84242;
}
#C:hover{
    fill:none;
    stroke: #e84242;
}

#CW{
    fill: #9F4648;
}
#CW:hover{
    fill:none;
    stroke: #9F4648;
}

#W{
    fill: #56494e;
}
#W:hover{
    fill:none;
    stroke: #56494e;
}

#WD{
    fill:#6C7D82;
}
#WD:hover{
    fill: none;
    stroke: #6C7D82;
}

#DCW{
    fill: #866165;
}
#DCW:hover{
    fill: none;
    stroke: #866165;
}

/* Titles, Paragraphs, Headings */

h1 {
    font-family: brother-1816, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    margin: 20px;
    text-align: center;
  }

  h2 {
    font-family: brother-1816, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 35px;
    margin: 20px;
    text-align: center;
  }

  h3 {
    font-family: brother-1816, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 27px;
    margin: 15px;
    text-align: center;
  }

  h4 {
    font-family: brother-1816, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 22px;
    margin: 15px;
    text-align: center;
  }

  h5 {
    font-family: brother-1816, sans-serif;
    font-weight: 100;
    font-style: italic;
    font-size: 20px;
    margin: 5px;
    padding-top: 50px;
    text-align: center;
  }

  h6 {
    font-family: brother-1816, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 15px;
    margin: 5px;
    text-align: center;
  }

  p{
    font-family: brother-1816, sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-left: 25px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

/* Div Spaceing and Flex */

.box{
    display: flex;
    justify-content: center;
  }

.titleMono{
    display: flex;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 140px;
    padding-bottom: 60px;
    width: 50%;
}

.vennBox{
    display: flex;
    justify-content: center;
    padding-top: 160px;
}

.arrowBox{
    display: flex;
    flex-direction: row;
    align-content:center;
    margin-left: 15%;
    margin-right: 15%;
    width:70%;
  }

main {
    overflow-y: scroll;
}

  .aside{
    flex: .45 0 10%;
    width: 10%;

  }

  .wrapper{
    display: flex;
    height: 100%;
  }

  .ulBar {
    padding-left: 10px;
    padding-top: 160px;
    width: 115px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: sticky;
    top: 8em;
  }

  .liStyle{
    margin-top: 15px;
  }

  .wrapper_inner {
    width: 90%;
    margin: 0px;
  }

.projects{
    padding-top: 120px;
}

.imageWine{
    margin-left: 10%;
    margin-right: 10%;
    width:80%;
    height: auto;
    display: block;
  }

  .pLCBox{
    display: flex;
    flex-direction: column;
    align-content:center;
    margin-left: 15%;
    margin-right: 15%;
    width:70%;
  }

/* Links, Buttons, Inputs */



html{
    background: #EBEBEB;
}

a{
    font-family: brother-1816, sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #E84242;
    text-decoration: none;
  }
  
  a:hover{
    color: #81B0B6;
    font-family: brother-1816, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  hr {
    border-width: 1px;
    border-color: #e84242;
    border-style: solid;
    width: 100%;
    /*margin-left: 20%;
    margin-right: 20%;*/
    padding-top: 1px;
    margin-top: 20px;
  }

  hr.lineNotSelected{
    width: 50%;
  }
  
  ul {
    font-family: brother-1816, sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  ol {
    font-family: brother-1816, sans-serif;
    font-weight: 300;
    font-style: normal;
    list-style-type: upper-roman;
  }
  
  button{
    font-family: brother-1816, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    border-radius: 19px;
    background-color: white;
    padding: 10px;
    margin: 5px;
    transition: box-shadow .25s ease-in-out;
  }
  
  button:hover{
     box-shadow: inset 3px 2px 7px #999999;
  }
  
  .button-hover{
    font-family: brother-1816, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    border-radius: 19px;
    background-color: white;
    padding: 10px;
    margin: 5px;
    box-shadow: inset 3px 2px 7px #999999;
  }
  
  .button-active{
    background-color: #81B0B6;
    color: white;
    border-color: white;
    font-family: brother-1816, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    border-width: 3px;
    border-style: solid;
    border-radius: 19px;
    padding: 10px;
    margin: 5px;
    box-shadow: 2px 2px 10px 3px #999999;
  }
  
  .was-clicked{
    padding: 20px;
    color: rebeccapurple;
    width: 30%;
  }
  .pS{
    font-weight: 400;
  }
  
  .quote-text {
    padding-bottom: 20px;
    font-size: 25px;
    color: black;
  }
  
  .hS {
    padding: 10px;
    border-bottom: 1px solid #ebebeb;
  }
  
  .quotes {
    padding: 20px 50px;
    min-height: 200px;
  }
  
  .controls {
    width: 60%;
    padding: 20px 50px;
  }
  
  #js-quote-text {
    color: white;
  }
  
  label{
    font-family: brother-1816, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    margin: 15px;
    text-align: center;
  }
  
  input[type="text"] {
    padding: 5px;
    width: 150px;
  }
  
  input[type="radio"]{
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid #81B0B6;
    transition: 0.2s all linear;
    margin-right: 5px;
    position: relative;
    top: 4px;
  }
  
  input[type="radio"]:checked{
    border: 6px solid #81B0B6;
  }

